# Supabase Configuration
# Reemplaza estos valores con los de tu proyecto Supabase

VITE_SUPABASE_URL=https://puwchwmmwjkhugdphsxo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_dW3m7ByLVfUYlDF6ayse3w_omIaGUOl